
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503125549602'); /* IE9*/
  src: url('iconfont.eot?t=1503125549602#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503125549602') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503125549602') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503125549602#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before { content: "\e600"; 
  font-size: 16px;
}

.icon-7tian:before { content: "\e612"; 
  font-size: 24px;
  line-height: 24px;
  margin-right: 6px;
}

/* .icon-youjiantou:before { content: "\e619"; } */

.icon-yijiuhuanxin:before { content: "\e603"; }

.icon-buoumaotubiao46:before { content: "\e629"; 
  font-size: 24px;
  line-height: 24px;
  margin-right: 6px;

}

.icon-15tianwuyouhuanhuo:before { content: "\e639";

font-size: 24px;
  line-height: 24px;
  margin-right: 6px;
   }

.icon-arrow-bottom:before { content: "\e654";
display: block;
width: 36px;
height: 24px;
line-height: 24px;
text-align: center;

 }
 .icon-arrow-bottom:hover:before { content: "\e654";
color: #ff6700;

 }


.icon-liwu:before { content: "\e693"; 
font-size: 18px;
  line-height: 18px;
  margin-right: 6px;
}

.icon-jiantoul:before { content: "\e606"; }

.icon-dingwei:before { content: "\e608"; 
font-size: 24px;
  line-height: 24px;
  margin-right: 6px;
}

.icon-yuan:before { content: "\e670"; }

.icon-jiantou-copy:before { content: "\e601"; }

.icon-jiantou-copy-copy:before { content: "\e613"; 
font-size: 20px;
text-align: center;
color: #424242;
}
.icon-jiantou-copy-copy:hover:before { content: "\e613"; 
color: #ff6700;

}

.icon-yq-jt-r:before { content: "\e602"; }

.icon-bofang:before { content: "\e609"; 

  font-size: 30px;
  text-align: center;
}
.icon-bofang:hover:before { content: "\e609"; 
color: #ff6700;

}

.icon-shoujiqia:before { content: "\e604"; }

.icon-youjiantou-copy:before { content: "\e697"; 
 font-size: 60px;
 color: #ff6700;
 text-align: center;
}

.icon-jiantoul-copy:before { content: "\e69b"; 
 
display: block;
width: 36px;
height: 24px;
line-height: 24px;
text-align: center;
}
.icon-jiantoul-copy1:before { content: "\e69c"; }

