/*
* @Author: Administrator
* @Date:   2017-08-15 15:36:48
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-17 12:02:33
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
.toubu{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
	border-bottom: 1px solid #cccccc;
}
.toubuli{
	width: 1200px;
	height: 100%;
	background: #f7f7f7;
	margin: 0 auto;
}
.liyou{
	width: 452px;
	height: 100%;
	background: #f7f7f7;
	float: right;
}
.nihao{
	width: 132px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	font-size: 12px;
	color: #808080;
	line-height: 32px;
	margin-right: 20px;
}
.touzi{
	width: 82px;
	height: 100%;
	background: #f7f7f7;
	display: block;
	float: left;
	font-size: 12px;
	color: #808080;
	line-height: 32px;
	margin-right: 20px;
}
.denglu{
	margin-right: 8px;
	color: #808080;
}
.shu{
	margin-right: 8px;
}
.zhuce{
	color: #808080;
}
.dingdan{
	width: 48px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	font-size: 12px;
	color: #808080;
	line-height: 32px;
	margin-right: 20px;
}
.dingdan:hover{
	color: #a10000;
}
.touzi2{
	width: 72px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	margin-right: 20px;
}
.gonggao{
	width: 49px;
	height: 100px;
	line-height: 32px;
	float: right;
	font-size: 12px;
	color: #808080;
}
.gonggao:hover{
	color: #a10000;
}
.laba1{
	width: 16px;
	height: 32px;
    background: url('../img/notice.png') no-repeat center left;
    background-size: 16px 16px;
}
.touzi3{
	width: 38px;
	height: 100%;
	background: #f7f7f7;
	float: left;
}
.weixin{
	width: 18px;
	height: 32px;
	background: url('../img/w1.jpg') no-repeat center center;
	background-size: 18px 18px;
	float: left;
}
.weibo{
    width: 18px;
	height: 32px;
	background: url('../img/w2.jpg') no-repeat center center;
	background-size: 18px 18px;
	float: right;
}
.bigbox{
	width: 1200px;
	height: 138px;
	background: #ffffff;
	margin: 0 auto;
	padding-top: 28px;
}
.sousuobox{
	width: 1200px;
	height: 29px;
	background: #ffffff;
}
.sousuoyou{
	width: 438px;
	height: 29px;
	background: #ffffff;
	float: right;
}
.sousuo{
	width: 309px;
	height: 29px;
	background: #ffffff;
	float: left;
}
.zz{
	width: 254px;
	height: 27px;
	background: #ffffff;
	border: 1px solid #e0e0e1;
	float: left;
	font-size: 12px;
	color: #000000;
	line-height: 27px;
	padding-left: 5px;
}
.ss{
	width: 48px;
	height: 29px;
	background: url('../img/vanclsprite.png') no-repeat -99px 0;
	float: right;
}
.gouwu{
	width: 107px;
	height: 29px;
	background: #ffffff;
	float: right;
}
.che{
	width: 77px;
	height: 29px;
	background: url('../img/vanclsprite.png') no-repeat -153px 0;
	float: left;
	font-size: 12px;
	color: white;
	line-height: 29px;
	padding-left: 30px;
}
.remen{
	width: 1200px;
	height: 28px;
	background: #ffffff;
}
.wenzi{
	width: 432px;
	height: 28px;
	background: #ffffff;
	float: right;
	font-size: 12px;
	color: #808080;
	line-height: 28px;
}
.wenzi a{
	color: #808080;
	margin-right: 6px;
}
.daohang{
	width: 1200px;
	height: 45px;
	background: #ffffff;
	margin: 0 auto;
}
.wenzibiao{
	width: 989px;
	height: 16px;
	background: #ffffff;
	float: right;
	padding-top: 29px;
}
.wenzibiao li{
	width: 98px;
	height: 16px;
	background: #ffffff;
	border-right: 1px solid #888888;
	float: left;
	text-align: center;
	line-height: 16px;
}
.wenzibiao .jiaju{
	border-right: 0px;
}
li a{
	color: #727171;
}
li a:hover{
	color: #a10000;
}
.logo{
	width: 166px;
	height: 45px;
	background: url('../img/vanclsprite.png') no-repeat 0px -59px;
	float: left;
}
.hengzi{
	width: 1200px;
	height: 125px;
	background: #ffffff;
	margin: 0 auto;
	font-size: 18px;
	color: #9ab3cd;
	text-align: center;
	line-height: 125px;
}
.santu{
	width: 1200px;
	height: 600px;
	background: #ffffff;
	margin: 0 auto;
}
.tu{
	width: 390px;
	height: 600px;
	display: block;
	float: left;
	margin-right: 15px;
}
.tu1{
	width: 390px;
	height: 600px;
	display: block;
	float: left;
	margin-right: 15px;
}
.tu2{
	width: 390px;
	height: 600px;
	display: block;
	float: right;
}
.zhongjianzi{
	width: 1200px;
	height: 125px;
	background: #ffffff;
	margin: 0 auto;
	font-size: 18px;
	color: #9ab3cd;
	text-align: center;
	line-height: 125px;
}
.zong{
	width: 1200px;
	height: 509px;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 48px;
}
.zuo{
	width: 590px;
	height: 509px;
	background: #ffffff;
	float: left;
	margin-right: 17px;
}
.img1{
	display: block;
	width: 100%;
	height: 100%;
}
.tupian{
	width: 590px;
	height: 440px;
	display: block;
}
.zuoxia{
	width: 564px;
	height: 39px;
	background: #ffffff;
	border: 1px solid #e0e0e1;
	border-top: none;
	padding: 29px 12px 0px;
}
.zi{
	font-size: 14px;
	color: #333333;
	float: left;
}
.zi1{
	font-size: 14px;
	color: #a10000;
	float: right;
}
.zhong{
	width: 290px;
	height: 100%;
	background: #ffffff;
	float: left;
}
.zhongshang{
	width: 290px;
	height: 249px;
	background: #ffffff;
	margin-bottom: 17px;
}
.tupian1{
	width: 290px;
	height: 180px;
	background: green;
	display: block;
}
.zhongshangxia{
	width: 264px;
	height: 37px;
	background: #ffffff;
	border: 1px solid #e0e0e1;
	border-top: none;
	padding: 29px 12px 0px;
}
.zizuo{
	font-size: 14px;
	color: #333333;
	float: left;
}
.ziyou{
	font-size: 14px;
	color: #a10000;
	float: right;
}
.zhongxia{
	width: 290px;
	height: 244px;
	background: #ffffff;
}
.tupian2{
	width: 290px;
	height: 175px;
	background: green;
	display: block;
}
.zhongxiaxia{
	width: 264px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #e0e0e1;
	border-top: none;
	padding: 29px 12px 0px;
}
.zixia1{
	font-size: 14px;
	color: #333333;
	float: left;
}
.zixia2{
	font-size: 14px;
	color: #a10000;
	float: right;
}
.you{
	width: 286px;
	height: 100%;
	background: #ffffff;
	float: right;
}
.tupian3{
	width: 286px;
	height: 440px;
	display: block;
}
.youxia{
	width: 260px;
	height: 39px;
	background: #ffffff;
	border: 1px solid #e0e0e1;
	border-top: none;
	padding: 29px 12px 0px;
}
.youzi1{
	font-size: 14px;
	color: #333333;
	float: left;
}
.youzi2{
	font-size: 14px;
	color: #a10000;
	float: right;
}
.xiabu{
	width: 1198px;
	height: 249px;
	background: #ffffff;
	margin: 0 auto;
	border: 1px solid #e0e0e1;
	padding-top: 33px;
}
.dabiao{
	width: 1118px;
	height: 138px;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 23px;
}
.dabiao li{
	width: 370px;
	height: 138px;
	background: #ffffff;
	border-right: 1px solid #888888;
	float: left;
	line-height: 138px;
}
.dabiao .erweima{
	width: 376px;
	height: 130px;
	border-right: 0px;
	padding-top: 8px;
}
.dabiao .kefu{
	height: 123px;
	padding-top: 15px;
}
.dabiao .tuihuo{
	height: 123px;
	padding-top: 15px;
}
.tp{
	width: 156px;
	height: 104px;
	background: #ffffff;
	display: block;
	margin: 0 auto;
}
.touxiang{
	width: 156px;
	height: 40px;
	background: url('../img/onlinecustomer.png') no-repeat center top;
	margin-bottom: 32px;
}
.zaixian{
	width: 156px;
	height: 32px;
	background: #b81c22;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
}
.qi{
	width: 156px;
	height: 38px;
	background: url('../img/seven.png') no-repeat center center;
	margin-bottom: 28px;
}
.sevenxia{
	width: 156px;
	height: 38px;
	background: #ffffff;
}
.shangzi{
	width: 156px;
	height: 12px;
	margin-bottom: 14px;
	font-size: 12px;
	color: #727271;
	text-align: center;
	line-height: 12px;
}
.xiazi{
	width: 156px;
	height: 12px;
	font-size: 12px;
	color: #727271;
	text-align: center;
	line-height: 12px;
}
.tp1{
	width: 127px;
	height: 131px;
	background: #ffffff;
	display: block;
	margin: 0 auto;
}
.ma{
	width: 127px;
	height: 98px;
	background: url('../img/2014_8_29_16_39_33_7709.jpg') no-repeat center center;
	background-size: 98px 98px;
	margin-bottom: 21px;
}
.mazi{
	width: 127px;
	height: 12px;
	background: #ffffff;
}
.xiazai{
	width: 58px;
	height: 12px;
	font-size: 12px;
	color: #727271;
	float: left;
	text-align: center;
	line-height: 12px;
}
.fanke{
	width: 24px;
	height: 12px;
	color: #a10000;
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
}
.kehuduan{
	width: 42px;
	height: 12px;
	color: #727271;
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
}
.zibiao{
	width: 1118px;
	height: 35px;
	background: #f8f8f8;
	margin: 0 auto;
	padding-top: 17px;
}
.zibiao li{
	width: 178px;
	height: 26px;
	background: #f8f8f8;
	border-right: 1px solid #e0e0e1;
	float: left;
	text-align: center;
	line-height: 26px;
}
.zibiao .bangzhu{
	border-right: 0px;
}
.zibiao li a{
	color: #323232;
}
.xian{
	width: 1198px;
	height: 25px;
	border-bottom: 1px solid #000000;
	margin: 0 auto;
	margin-bottom: 16px;
}
.weibu{
	width: 1200px;
	height: 144px;
	background: #ffffff;
	margin: 0 auto;
}
.weishangzi{
	width: 1200px;
	height: 12px;
	font-size: 12px;
	color: black;
	text-align: center;
	line-height: 12px;
	margin-bottom: 14px;
}
.weixiazi{
	width: 1200px;
	height: 12px;
	font-size: 12px;
	color: black;
	text-align: center;
	line-height: 12px;
	margin-bottom: 37px;
}
.weitu{
	width: 728px;
	height: 45px;
	background: #ffffff;
	margin-left: 236px;
}
.cx{
	width: 112px;
	height: 40px;
	background: url('../img/spritesbgtop.png') no-repeat 0 -582px;
	float: left;
	margin-right: 21px;
}
.huiyuan{
	width: 156px;
	height: 45px;
	background: url('../img/spritesbgtop.png') no-repeat 0 -629px;
	float: left;
	margin-right: 21px;
}	
.baozhang{
	width: 96px;
	height: 42px;
	background: url('../img/spritesbgtop.png') no-repeat 0 -675px;
	float: left;
	margin-right: 21px;
}
.jingying{
	width: 101px;
	height: 42px;
	background: url('../img/spritesbgtop.png') no-repeat -97px -675px;
	float: left;
	margin-right: 21px;
}
.yuan{
	width: 42px;
	height: 42px;
	background: url('../img/spritesbgtop.png') no-repeat -202px -675px;
	float: left;
	margin-right: 21px;
}
.cctv{
	width: 102px;
	height: 39px;
	background: url('../img/kexin_brand_for_others.png') no-repeat right center;
	background-size: 102px 39px;
	float: right;
}
.banner{
	width: 1200px;
	height: 535px;
	background: red;
	margin: 0 auto;
    position: relative;
}
.banner-tu{
	width: 1200px;
	height: 535px;
    position: relative;
}
.banner-tu li{
	width: 1200px;
	height: 535px;
    position: absolute;
    top: 0;
    left: 0;
}
.banner li img{
	width: 1200px;
	height: 535px;
}
.banner-left,.banner-right{
	width: 20px;
	height: 53px;
	display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.banner-left{
	background: url('../img/focus_lr0918.png') no-repeat -3px -5px;
	left: 12px;
}
.banner-left:hover{
	background: url('../img/focus_lr0918.png') no-repeat -3px -66px;
}
.banner-right{
	right: 12px;
	background: url('../img/focus_lr0918.png') no-repeat -60px -5px;
}
.banner-right:hover{
	background: url('../img/focus_lr0918.png') no-repeat -60px -66px;
}
.dian{
	width: 112px;
	height: 12px;
	background: #f0f6f6;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 23px;
}
.dian a:hover{
	background: #a10000;
}
.dian a{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #dddddd;
	float: left;
	margin-right: 8px;
}
.dian .dd{
	margin-right: 0px;
}